body,html{
    margin:0;
    padding:0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.header__nav-bar{
    height:45px;
    background-color:#dfdfdf;
    border-bottom:1px solid black;
    position:fixed;
    top:0;
    left:0;
    right:0;
}

.nav-bar__title{
    line-height:45px;
}

.nav-bar__title__text{
    vertical-align:middle;
    text-align:center;
    color:deepskyblue;
    font-size:20px;
}

/* video feed container*/
.video-feed__container{
    margin:60px auto;
    text-align:center;
}




/** video base style **/
.video-container{
    border:1px solid black;
    margin:20px auto;
    width:420px;
    overflow:hidden;

}

.video-header{
    height:30px;
    line-height:30px;
    vertical-align:middle;
}

.video-header__viewCounts{
    float:right;
    margin-right:5px;
    font-size:14px;
    font-weight:bold;
}

.video-header__title{
    float:left;
    margin-left:5px;
    font-size:16px;
    font-weight:bold;
}


.video-content{
    clear:both;
    width:420px;
    height:315px;
}


.video-container__empty{
    text-transform: uppercase;
}